<%- include('partials/headertitle') %>
        <div>
            <img src="./img/background.avif" alt="" class="back">
        </div>
        
        <div >
          <div class="navbar">
              <div class="nav-logo">
                <a href="/home">Random Card Picker</a>
              </div>
              <div class="nav-items">
                <ul>
                  <% if (account) { %>
                      <li><a href="/add">ADD</a></li>
                      <li><a href="/delete">DELETE</a></li>
                  <% } %>
                  <li><a href="#"> Saved </a></li>
                </ul>
              </div>
              <div class="nav-button">
                <div class="anim-layer"></div>
                <a href="#">Sign Up</a>
              </div>
              <div id="hamburger-menu">&#9776;</div>
            </div>
        
            <div id="mobile-menu">
              <div class="mobile-nav-items">
                <ul>
                  
                  <li><a href="#"> Saved </a></li>
                </ul>
              </div>
              <div class="mobile-nav-button">
                <div class="anim-layer"></div>
                <a href="#">Sign Up</a>
              </div>
              <div id="hamburger-cross">&#10006;</div>
            </div>

        <div class="row story">
            <div class="col-lg-9">
                <div class="line">
                    
                </div>
            </div>
            <div class="col-lg-3">
                <div class="box">
                    <h3 class="event">Description</h3>
                    <h4>Step into the Stoplight at "Unknot the knot" where the story becomes the play! Choose your narrative adventure line from our exclusive website,receive it in your inbox of registered mail id ,transform it into a mesmerizing stage play act</h4>
                 </div>
            </div>
        </div>

        <script src="/index.js"></script>
        
<%- include('partials/footer') %>