<%- include('partials/headerregister') %>

<div class="container">
    <div class="row">
        
        <div class="col-lg-10 d-flex align-items-center justify-content-center center">
            <div class="form-2-wrapper">
                
                <h2 class="text-center mb-4">SignUp Your Account</h2>
                <form action="/register" method="post">
                    <div class="mb-3 form-box">
                        <input type="text" class="form-control" id="username" name="username" placeholder="User Name" required>
                    </div>
                    <div class="mb-3 form-box">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
                    </div>
                    <div class="mb-3">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter Your Password" required>
                    </div>
                    <div class="mb-3">
                        Account:<select name="account" id="account">
                            <option value="" selected="selected" name="selected">Select account</option>
                            <option value="User" selected="User" name="User">User</option>
                            <option value="Admin" selected="Admin" name="Admin">Admin</option>
                          </select>
                    </div>
                    <button type="submit" class="btn btn-outline-secondary login-btn w-100 mb-3">Sign Up</button>

                </form>
    
            </div>
        </div>
    </div>
</div>
  

<script src="index.js"></script>

<%- include('partials/footer') %>
