<%- include('partials/headersaved') %>
      <div>
          <img src="./img/background.avif" alt="" class="back">
      </div>
      
      <div>
          <div class="navbar">
              <div class="nav-logo">
                <a href="/home">Random Card Picker</a>
              </div>
              <div class="nav-items">
                <ul>
                  <% if (account==='Admin') { %>
                      <li><a href="/add">ADD</a></li>
                      <li><a href="/delete">DELETE</a></li>
                  <% } %>
                  <li><a href="#"> Saved </a></li>
                </ul>
              </div>
              <div class="nav-button">
                <div class="anim-layer"></div>
                <a href="/logout">Log out</a>
              </div>
              <div id="hamburger-menu">&#9776;</div>
            </div>
        
            <div id="mobile-menu">
              <div class="mobile-nav-items">
                <ul>
                  <% if (account) { %>
                      <li><a href="/add">ADD</a></li>
                      <li><a href="/delete">DELETE</a></li>
                  <% } %>
                  <li><a href="#"> Saved </a></li>
                </ul>
              </div>
              <div class="mobile-nav-button">
                <div class="anim-layer"></div>
                <a href="#">Sign Up</a>
              </div>
              <div id="hamburger-cross">&#10006;</div>
            </div>
            <h2 style="margin: auto;align-items: center;color: antiquewhite;margin-left: 37%;">Saved Storylines</h2>
            <% for (let line of lines) { %> 
              <div class="line align-items-center justify-content-center">
                  <h3 class="text"><%= line.title %></h3>
                  <form action="/deletesavedtitle" method="POST" style="display: inline;">
                      <input type="hidden" name="title" value="<%= line.title %>">
                      <button type="submit" class="btn btn-online-danger" style="background-color: cornflowerblue; color: black; margin-bottom: 5px; margin-left: 80%;">Delete</button>
                  </form>
              </div>
          <% } %>
          
          

        <script src="/index.js"></script>
<%- include('partials/footer') %>